{% extends 'base.html' %}

{% block content %}

<style>
html {
     scroll-behavior: smooth;
    }
    
    body{
        background: #f5f7ff;
 }
    .card-body {
            width:300px;
            margin: 130px auto;
            padding:12px 60px;
            background-color: transparent !important;;
            border-radius: 3px;
            box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.50);
            backdrop-filter: blur(6px);
    }
    tr {
        height: 50px;
    }
    td{
        padding-left: 8px;
        font-family: 'Nunito', sans-serif;
        font-size: 14px;
    }
    h1 {
        padding: 10px;
        font-family: 'Nunito', sans-serif;
    }
    a,p {
        color: rgb(0, 0, 0);
        font-family: 'Nunito', sans-serif;
    }
    .button {
        border: 0px;
        background-color: #6e81b1;
        color: #fff;
        padding: 10px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        margin: auto;
        display: block;
        justify-content: center;
        box-shadow: 3px 1px 10px 0px rgba(0,0,0,0.75);
        width: 120px;   
    }
    .header_style{
        width: 100%;
        float: left;
        font-size: 30px;
        color: #000000;
        text-align: center;
        margin: 0px;
        font-family: 'Lucida Bright', sans-serif; 
    }
    input[type=text] {
        margin: 5px auto;
        width: 100%;
        padding: 10px;
    }
    
</style>
<div class = "login">
    <div class = "card-body">
    <h1 class="header_style">Tambah Task</h1>
    <br><br><br><hr><br>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <label for="judul">Judul Task:</label>
            <input id="judul" type="text" name="judul" placeholder="Masukkan Judul" required>
        </div>
        <div>
            <label for="deskripsi">Deskripsi Task: </label>
            <input id="deskripsi" type="text" name="deskripsi" placeholder="Masukkan Deskripsi" required>
        </div>
        <br><br>
        <input class="button" type="submit" value="Tambah">
    </form>
</div>

{% endblock content %}