{% extends 'base.html' %}

 {% block content %}


  <h1 style="text-align: center; color: #013f78"><span>🎦</span>My Watch List<span>🎦</span></h1>
  <h1 style="text-align: center; color: #013f78"><span>==========================</span></h1>
  <h3 style="text-align: left; color: #00294f">Name:         {{nama}}</h3>
  <h3 style="text-align: left; color: #00294f">Student ID: {{npm}}</h3>


  <table rules="all", border="5", table align="center">
    <tr>
        <th bgcolor="#8cc5fa">Watched</th>
        <th bgcolor="#8cc5fa">Title</th>
        <th colspan="2", bgcolor="#8cc5fa">Release Date</th>
        <th colspan="2", bgcolor="#8cc5fa">Rating (*/5)</th>
        <th bgcolor="#8cc5fa", colspan="2">Review</th>
        
    </tr>
    {% for movie in watchlist %}
    <tr>
        <th bgcolor="e8f0ff">{{movie.watched}}</th>
        <th colspan="2", bgcolor="e8f0ff">{{movie.title}}</th>
        <th bgcolor="e8f0ff">{{movie.release_date}}</th>
        <th bgcolor="e8f0ff">{{movie.rating}}</th>
        <th colspan="3", bgcolor="e8f0ff", style="text-align: left; size: 11">{{movie.review}}</th>

    </tr>
    {% endfor %}
  </table>

  <h1 style="color:#013f78; text-align: center;"><span></span>{{message}}</h1>
 {% endblock content %}